<div class="container">
  <div>
    <picture><img src="/images/jinx-about.jpeg" alt="" /></picture>
    <h2>About Jinx</h2>
    <p>
      Jinx, born as Powder, is a notorious Zaunite criminal and inventor and
      Vi's younger sister. When she was a little girl, her parents were killed
      in a failed uprising against Piltover, leading Vander, the upspoken leader
      of the undercity, to adopt both her and Vi as his own daughters. After a
      series of events forced Jinx and her sister apart in more ways than one,
      she was fundamentally and irrevocably changed, transforming her into the
      demented killer she is today.
    </p>
  </div>

  <div>
    <picture><img src="/images/jinx-model.jpeg" alt="" /></picture>
    <h2>Appearance</h2>
    <p>
      Jinx is slender, sinewy, and light-skinned. She wears common punk street
      fashion typical for Zaunite youth. Her most noticeable features are her
      tattoos of stylized clouds, as well as her natural blue hair. As a child
      she would have a short hairstyle with one braid, later transitioning to
      two long braids as a teen. After her shimmer transformation, she would
      have even paler skin (almost chalk white) and her bright blue eyes would
      turn to pink (occasionally turning to a reddish color).
    </p>
  </div>
</div>