<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{#each style}}
      <link rel="stylesheet" href="styles/{{this}}" />
    {{/each}}

    <title>{{title}}</title>
  </head>
  <body>
    <nav>
      <picture><img
          src="/images/jinx-logo.png"
          alt="jinx-logo"
          id="#logo"
        /></picture>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>