<div class="container">
  <div class="welcome-text">
    <h1>Welcome!</h1>
    <p>This is an appreciation page for fictional character Jinx, from Riot
      Games' League of Legends media franchise. She's known to have weapons of
      mass destruction and will kill for fun. She likes to speak to her guns.
      For more information check the above tabs.</p>
  </div>
</div>