<div class="container">

  <div class="fishbones">
    <img src="/images/jinx-fishbones.jpeg" alt="" />
    <h2>Fishbones</h2>
    <p>Fishbones is one of Jinx's primary weapons, a rocket launcher.</p>

  </div>
  <div class="powpow">
    <img src="/images/jinx-pow-pow.webp" alt="" />
    <h2>Pow-Pow</h2>
    <p>Pow-Pow is Jinx's minigun.</p>

  </div>
  <div class="zapper">
    <img src="/images/jinx-zapper.png" alt="" />
    <h2>Zapper</h2>
    <p>Zapper is Jinx's shock gun.</p>
  </div>

</div>