.container img {
  width: 400px;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.container > div {
  width: 450px;
  border: 3px solid rgb(255, 0, 162);
  padding: 15px;
  box-shadow: 0 0 10px 5px rgb(13, 255, 0);
  transition: all 0.5s ease-out;
  transition-property: box-shadow, border-color;
}

.container > div:hover {
  box-shadow: 0 0 10px 5px rgb(255, 0, 162);
  border-color: rgb(13, 255, 0);
  transition: all 0.5s ease-in;
}
